/* transition: width 200ms linear; */

input[type = "number"]{
    background: transparent;
    outline: none;
    border: 1px solid gray;
    width: 50px;
    height: 50px;
    margin: 10px;
    border-radius: 10px;
    color: white;
    text-align: center;
}

#move{
    width: 50px;
    height: 50px;
    margin: 10px;
}

input[type = "text"]{
    background: transparent;
    outline: none;
    border: 1px solid gray;
    width: 200px;
    height: 50px;
    margin: 10px;
    border-radius: 10px;
    color: white;
    text-align: start;
}

#type{
    background: transparent;
    outline: none;
    border: 1px solid gray;
    width: 200px;
    height: 50px;
    margin: 10px;
    border-radius: 10px;
}

.dropdown-item:hover{
    background: #198754;
}

span{
    padding: 5px;
}